.maindiv{
    width:auto;
    /* border: 2px black solid; */
    display:flex;
    background-color: #90ebf1;
}
.letter{
    width:80px;
    /* border-radius:3500px; */
    padding:20px 20px 20px 40px ;
    font-size:24px;
    font-weight: bold;
    color: blue;
    font-style: italic;
    text-decoration:underline;

}
.home{
    margin-left:950px;
    padding:30px 20px 0px 20px ;
    font-size:22px;
    color:#000080;
}

.File{
    margin-left:20px;
    padding:30px 20px 0px 20px ;
    font-size:22px;
    color:#000080;
}
.consel{
    margin-left:20px;
    padding:30px 20px 0px 20px ;
    font-size:22px;
    color:#000080;
}
.signup{
    margin-left:20px;
    padding:30px 20px 0px 20px ;
    font-size:22px;
    color:#000080;
}
.login{
    margin-left:20px;
    padding:30px 20px 0px 20px ;
    font-size:24px;
    color:#000080;
}
.home:hover{
    background-color:blue;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    border-radius:25px;
    color:white;

}
.File:hover{
    background-color:blue;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    border-radius:25px;
    color:white;
}
.consel:hover{
    background-color:blue;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    border-radius:25px;
    color:white;
}
.signup:hover{
    background-color:blue;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    border-radius:25px;
    color:white;
}
.login:hover{
    background-color:blue;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    border-radius:25px;
    color:white;
}
.young{
    width:1813px;
    height:850px;
    /* border:#000080 2px solid; */
}
.smily-wowmen{
    position: relative;
    display: inline-block;
}
.text-img{
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #0606bc;
    font-weight: bold;
    font-size:26px;
}
.but{
    font-size:20px;
    background-color:#90ebf1;
    color:black;
    padding:15px 25px 15px 25px;
    border-radius:25px;
    margin-left:120px;
    margin-top:30px;
}
.but:hover{
    background-color:#000080;
    cursor: pointer;
    color:white;
}
.box{
    width:auto;
}
.card{
    width:400px;
    height:520px;
    margin-top: 80px;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.anush{
    border-radius:3500px;
    width: 120px;
    margin-top:20px;
}
.sharma{
    text-align:center;
    font-size:22px;
    margin-top:-120px;
    margin-left:60px;
}
.MA{
    text-align:center;
    font-size:18px;
    margin-top:-20px;
    margin-left:120px;
}
.icon{
    display: flex;
    margin-top:50px;
    margin-left:20px;
}
.star{
    border-radius:1200px;
    width:30px;
    margin-top:18px;
    margin-left:15px;
}
.container{
    display: flex;
}
.tick{
    width:30px;
    margin-top:20px;
    margin-left:35px;
}
p{
    font-size:20px;
    color:#000080;
}
.spl{
    margin-left:10px;
}
.timetable{
    display: flex;
}
.time{
    margin-top:5px;
    margin-left:15px;
}
.sess{
    margin-left:110px;
    margin-top:25px;
    padding: 15px 30px 15px 30px;
    font-size:16px;
    background-color:#000080;
    color:white;
    border-radius:25px;
}
.sess:hover{
    background-color:#90ebf1;
    cursor: pointer;
    color:black;
}
.proverb{
    /* border:#000080 solid 2px; */
    margin-top:50px;
    background-color:#90ebf1;
    color:#000080;

}
.Kick{
    margin-left:600px;
    padding:30px 0px 30px 0px;
    font-size:26px;
}
.your{
    margin-left: 900px;
    padding:15px 30px 15px 30px;
    border-radius:18px;
    font-size:20px;
    color:white;
    background-color:#000080;
}
.your:hover{
    background-color: white;
    cursor: pointer;
    color:black;
}
.About{
    margin-left:700px;
    margin-top:50px;
    color:#0606bc;
}
.mainsession{
    display: flex;
    /* width: 90%; */
    /* overflow-x: scroll;
    overflow-y: hidden; */

}
.Card{
    width:450px;
    height:520px;
    margin-top: 80px;
    margin-left: 110px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.feedback{
    padding : 10px 0px 0px 0px;
    font-size:20px;
}
.Content {
    margin : 20px;

}
.guidance{
    font-size:18px;
}
.footer{
    display: flex;
    background-color: #90ebf1;
    width:auto;
    height:300px;
    margin-top:120px;
}
.location{
    margin-top:40px;
    color:#000080;
    margin-left:220px;
}
.about{
    margin-left:10px;
    font-size:26px;
    font-weight:bold ;
    margin-top:25px;
}
.Location{
    margin-top:40px;
    color:#000080;
    margin-left:250px;
    text-align: center;
}
.state{
    margin-top:10px;
    margin-left:10px;
    font-size:18px;
}
.loco{
    font-size:26px;
    font-weight:bold;
    margin-top:25px;
}
.google{
    border-radius:1225px;
    width:50px;
}
.face{
    border-radius:1225px;
    width: 50px;
}
.insta{
    border-radius:1225px;
    width: 50px;
}
.social{
    font-size:24px;
    font-weight:bold;
}
.media{
    margin-top:40px;
    color:#000080;
    margin-left:250px;
    text-align: center;
}
.items{
    margin-top:10px;
    margin-left:10px;
    font-size:18px;
}
.contact h1{
    font-size:26px;
    font-weight:bold;
    margin-top:60px;
    color:#000080;
    margin-left: 200px;
}
.numbers{
    text-align: center;
    margin-left:190px;
    color: #000080;
    margin-top:10px;
}
.media{
    margin-top:40px;
    color:#000080;
    margin-left:180px;
    text-align: center;
    display: flex;
}
.google{
    border-radius:1225px;
    width:50px;
}
.face{
    border-radius:1225px;
    width: 50px;
    margin-left:10px;
}
.insta{
    border-radius:1225px;
    width: 50px;
    margin-left:10px;
}
.social{
    font-size:26px;
    font-weight:bold;
    margin-top:20px;  
}
.Media{
    margin-top:60px;
    margin-left:-190px ;
}
